* {
	margin: 0;
	padding: 0;
}
/*导航栏*/ 
#header{
	background-color:#FB0;
	background-repeat:no-repeat;
	height:180px;
	width:1365px;
}					
#nav {
	margin-left: 290px;
	line-height: 24px;
	list-style-type: none;
	background: #666;
}					
#nav a:link {
	display: block; /*改变为块级元素*/
	width: 80px;
	text-align: center;
	color: #666;
	text-decoration: none;
}					
#nav a:hover {
	color: #FFF;
	text-decoration: underline;
	font-weight: bold;
	background:#999;
}
#nav li {
	float: left;
	width: 80px;
	margin-top:18px;
	margin-left:30px;
	margin-right:30px;
	background: #F0F0F0;
}					
#nav li ul {
	line-height: 27px;
	list-style-type: none;
	text-align: left;
	width: 180px;
	display: none;
}
#nav li ul li{
	float: left; 
	width: 100px;						
}
#nav li ul a:link {
	display: block; 
	width: 75px;
	text-align: left;
	padding-left: 24px;
	color: #666;
}							
#nav li ul a:hover {
	color: #F3F3F3;
	text-decoration: underline;
	font-weight: normal;
	background: #C00;
}
#nav li.sfhover ul {						
	display: block;
	position: absolute;
}
#m{
	width:1200px;
	height:400px;
	align:center;
	float:left;
}
/*自动播放*/
#picScroll{
	margin-top:50px;
	margin-left:200px;
	white-space:nowrap;
	overflow:hidden;
	width:400px;
	height:400px;
	float:left;
}
img{
	width:400px;
}
/*表单操作*/
#form{
	width:500px;
	height:100px;
	float:left;
	margin-top:50px;
	margin-left:70px;
	font-family: arial, 宋体, serif;
	font-size: 18px;
}
#text{
	width: 450px;
	margin: 5px;
	height: 150px
}
#form2{
	display: block;
	margin-left:360px;
}
/*进度条*/
#processcontainer{  
	   width:930px;  
	   border:1px solid #6C9C2C;  
	   height:50px;  
	   margin-left:200px;
	   margin-top:400px;
	 } 
#processbar{  
	background:#FC2;  
	float:left; 
	height:100%;  
	width:930px;
	text-align:center;  
	line-height:150%;
}